<div class="container-fluid" *ngIf="done" style="overflow: hidden;">
    <h1 [align]="'center'"><b>{{user.username}}</b></h1>
    <h2 [align]="'center'"><b>Feedback</b></h2>
    <h4 [align]="'center'"><b>Media voti:{{vote}}</b></h4>
    <div *ngFor="let f of feed">
        <div>
            <p><b>Scrittore:</b> {{f.scrittore!.username}}</p>
            <p><b>Voto:</b> {{f.voto}}</p>
            <p><b>Feedback:</b> {{f.descrizione}}</p>
        </div>
        <mat-divider></mat-divider>
    </div>
</div>