<div class="container" id="modal-content-wrapper">
    <div class="row justify-content-center">
        <div class="col">
            <h1 id="modal-title" align="center">Reso Ordine</h1>
        </div>

    </div>
    <div class="row justify-content-center">
        <div id="modal-body">
            <p>Sei sicuro di voler effetuare il reso?</p>
            <button mat-raised-button color="primary">
                <span> Effettua Reso </span>
              </button>
        </div>
    </div>
</div>