.loginBackground {
    background: rgb(69, 202, 252);
    background: linear-gradient( 45deg, rgba(69, 202, 252, 0.9) 0%, rgba(48, 63, 159, 0.9) 100%);
}

.error-message {
    color: red;
}

.full_width-input {
    width: 100%;
}