<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="firstFormGroup" errorMessage="Informazioni Obbligatorie">
                    <ng-template matStepLabel>Informazioni</ng-template>
                    <div class="row" style="margin-top:10px;">
                        <mat-radio-group class="inputData">
                            <mat-radio-button value="saved" (click)="changeInfoSaved()">Usa le Informazioni salvate</mat-radio-button>
                            <mat-radio-button value="insert" (click)="changeInfoInsert()">Inserisci nuove Informazioni</mat-radio-button>
                        </mat-radio-group>
                        <button mat-button matStepperNext>Avanti</button>
                    </div>
                    <form [formGroup]="firstFormGroup" class="form" *ngIf="info">
                        <div class="inputData">
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" formControlName="nome">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Indirizzo</mat-label>
                                <input matInput placeholder="Indirizzo" formControlName="indirizzo">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Città</mat-label>
                                <input matInput placeholder="Città" formControlName="city">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>CAP</mat-label>
                                <input matInput *ngIf="info" placeholder="CAP" formControlName="cap">
                            </mat-form-field>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" errorMessage="Payout is required.">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Pagamento</ng-template>
                        <div class="inputData">
                            <h2>Seleziona il metodo di pagamento</h2>
                            <div class="row">
                                <mat-radio-group class="inputData" [formGroup]="secondFormGroup">
                                    <mat-radio-button class="example-margin" value="carta" [disabled]="true">Carta di credito/debito</mat-radio-button>
                                    <mat-radio-button class="example-margin" value="contanti">Contanti</mat-radio-button>
                                    <mat-radio-button class="example-margin" value="paypal" [disabled]="true">PayPal</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div style="flex-direction: row">
                                <button mat-button matStepperPrevious>Indietro</button>
                                <button mat-button matStepperNext (click)="confirmPurchase()">Next</button>
                            </div>
                        </div>

                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Fine</ng-template>
                    <div class="inputData">
                        <p *ngIf="!loading">L'acquisto è andato a buon fine. A breve ti arriverà un mail di conferma</p>
                        <div style="flex-direction: row">
                            <button mat-button [routerLink]="['home']" *ngIf="!loading">Home</button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <app-page-spinner *ngIf="loading"></app-page-spinner>
        </div>
    </div>
</div>