<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="firstFormGroup" errorMessage="Informazioni Obbligatorie">
                    <ng-template matStepLabel>Informazioni</ng-template>
                    <div class="row" style="margin-top:10px;">
                        <mat-radio-group class="inputData">
                            <mat-radio-button value="saved" (click)="changeInfoSaved()">Usa le Informazioni salvate</mat-radio-button>
                            <mat-radio-button value="insert" (click)="changeInfoInsert()">Inserisci nuove Informazioni</mat-radio-button>
                        </mat-radio-group>
                        <button mat-button matStepperNext>Avanti</button>
                    </div>
                    <form [formGroup]="firstFormGroup" class="form" *ngIf="info">
                        <div class="inputData">
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input matInput placeholder="Nome" formControlName="nome">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Indirizzo</mat-label>
                                <input matInput placeholder="Indirizzo" formControlName="indirizzo">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Città</mat-label>
                                <input matInput placeholder="Città" formControlName="city">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>CAP</mat-label>
                                <input matInput placeholder="CAP" formControlName="cap">
                            </mat-form-field>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" errorMessage="Il Pagamento è obbligatorio.">
                    <form>
                        <ng-template matStepLabel>Pagamento</ng-template>
                        <div class="inputData">
                            <h2>Seleziona il metodo di pagamento</h2>
                            <div class="row">
                                <mat-radio-group class="inputData">
                                    <mat-radio-button value="carta" (click)="change('card')">Carta di credito/debito</mat-radio-button>
                                    <mat-radio-button value="contanti" (click)="change('contanti')">Contanti</mat-radio-button>
                                    <mat-radio-button value="paypal" [disabled]="true">PayPal</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="payForm" class="form" *ngIf="card" (ngSubmit)="chargeCreditCard()">
                        <div class="inputData">
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Numero Carta</mat-label>
                                <input matInput placeholder="Numero Carta" formControlName="num">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Mese</mat-label>
                                <input matInput placeholder="Mese" formControlName="mese">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>Anno</mat-label>
                                <input matInput placeholder="Anno" formControlName="anno">
                            </mat-form-field>
                            <mat-form-field style="width:50%" appearance="outline">
                                <mat-label>CVC</mat-label>
                                <input matInput placeholder="CVC" formControlName="cvc">
                            </mat-form-field>
                            <div class="row justify-content-center pt-1 pb-3">
                                <div class="col" align="center">
                                    <button type="submit" matStepperNext [disabled]="loading" mat-raised-button color="primary">
                                    <span *ngIf="!loading"> Conferma </span>
                                    <div class="row my-2" *ngIf="loading">
                                      <div class="col" align="center">
                                        <mat-spinner diameter="20" color="accent"></mat-spinner>
                                      </div>
                                    </div>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="inputData" style="flex-direction: row">
                        <button mat-button matStepperPrevious>Indietro</button>
                        <button mat-button matStepperNext *ngIf="!card" (click)="confirmPurchase('ALLA CONSEGNA')">Avanti</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Fine</ng-template>
                    <div class="inputData">
                        <p *ngIf="!loading">L'acquisto è andato a buon fine. A breve ti arriverà un mail di conferma</p>
                        <div style="flex-direction: row">
                            <button mat-button [routerLink]="['home']" *ngIf="!loading">Home</button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <app-page-spinner *ngIf="loading"></app-page-spinner>
        </div>
    </div>
</div>