<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<mat-toolbar color="primary" *ngIf="user && user.token">
    <!--<span class="spacer" *ngIf="isUser">Benvenuto utente {{user.username}}</span>
    <span class="spacer" *ngIf="isAdmin">Benvenuto admin {{user.username}}</span> -->
    <mat-toolbar-row style="width: 100%;">
        <a href="/"><img src="assets/image/logo.png" class="logo"></a>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="settingMenu" color="#ffffff"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #settingMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="onSettingsRedirect()">Mio Account</button>
            <button mat-menu-item (click)="onOrdersRedirect()">Ordini</button>
            <button mat-menu-item (click)="onFeedbackRedirect()">Feedback</button>
        </mat-menu>
        <button mat-icon-button (click)="logout()" matTooltip="Esci">
            <mat-icon>logout</mat-icon>
          </button>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="aboveMenu" color="#ffffff">Uomo</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>T-shirt</button>
            <button mat-menu-item>Trousers</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu" color="#ffffff">Donna</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>T-shirt</button>
            <button mat-menu-item>Trousers</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu" color="#ffffff">Bambini</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>T-shirt</button>
            <button mat-menu-item>Trousers</button>
        </mat-menu>
        <button mat-button align="end" color="#ffffff" (click)="add()">Aggiungi Vestito</button>
    </mat-toolbar-row>



    <!-- <button mat-button>
        <mat-icon>account_circle</mat-icon>
        {{ user.firstName }} {{ user.lastName }}
      </button> -->




</mat-toolbar>


<mat-drawer-container [ngClass]="{
    'h-100': !user || !user.token,
    'app-container': user && user.token
  }" [hasBackdrop]="true">
    <router-outlet></router-outlet>
</mat-drawer-container>