/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: 0px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerEllipsis {
  text-overflow: inherit;
  overflow: inherit;
  margin-bottom: 0px !important;
  font-size: 18px;
}

.nop {
  padding-left: 0px;
  padding-right: 0px;
}

.nopleft{
  padding:0px !important;
}

.logo{
  width: 180px;
  height: 100px;
}

.item {
  width: 200px;
  height:200px;
}

.filter { 
  display: block;
  margin: auto;
}
