<div class="card mt-4">
    <div class="card-header">
        <div class="example-container row">
            <mat-form-field hintLabel="Max 10 characters" class="col-2 nop" appearance="fill">
              <mat-label>Brand</mat-label>
              <input matInput #input maxlength="10" placeholder="Ralph Lauren">
              <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="col-3 nop" appearance="fill">
              <mat-label>Taglia</mat-label>
              <mat-select multiple (selectionChange)="changeTaglia($event.value)">
                <mat-option value="S">S</mat-option>
                <mat-option value="M">M</mat-option>
                <mat-option value="L">L</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-3 nop" appearance="fill">
              <mat-label>Colore</mat-label>
              <mat-select multiple (selectionChange)="changeColore($event.value)">
                <mat-option value="blu">Blu</mat-option>
                <mat-option value="rosso">Rosso</mat-option>
                <mat-option value="arancione">Arancione</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-2 nop" appearance="fill">
              <mat-label>Prezzo</mat-label>
              <mat-select multiple (selectionChange)="changePrezzo($event.value)">
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="filter col-2">
              <button mat-button (click)="filter()" matTooltip="Filtra">Filtra</button>
            </div>
          </div>
    </div>
    <div class="card-body">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let article of clothesFiltered">
          <div class="row">
            <p>{{article.nome}}</p>
            <img [src]="article.image" class="img-fluid item">
            <p>Prezzo: {{article.prezzo}} €</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    
    </div>
</div>